.flex-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  padding-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-movie-button {
  background-color: firebrick;
  left: 50%;
  margin-left: -100px;
  margin-bottom: 30px;
  margin-top: 50px;
}
