<form
  class="example-form"
  [formGroup]="movieForm"
  #f="ngForm"
  (ngSubmit)="addMovie(f)"
>
  <mat-form-field class="example-full-width">
    <mat-label>Naziv filma</mat-label>
    <input
      formControlName="title"
      name="title"
      matInput
      placeholder="Upisi naziv filma."
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Godina filma</mat-label>
    <input
      formControlName="year"
      name="year"
      matInput
      placeholder="Upisi godinu filma."
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Link postera</mat-label>
    <input
      formControlName="imgUrl"
      name="imgUrl"
      matInput
      placeholder="Unesi url postera za film."
    />
  </mat-form-field>
  <button type="submit">Dodaj</button>
</form>
