<div class="registration-form">
  <div class="form-container">
    <div class="title-container">
      <label> Prijava </label>
    </div>
    <form class="example-form" [formGroup]="loginForm">
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Korisnicko ime</mat-label>
          <input
            matInput
            placeholder="Korisnicko ime"
            [formControl]="username"
            required
          />
          <mat-error *ngIf="username.invalid">Korisnicko ime nije validno.</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Lozinka</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            [formControl]="password"
            required
          />
          <label
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </label>
        </mat-form-field>
        <br />
        <div class="register-button-container">
          <button
            (click)="submitForm()"
            class="register-button"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Prijava
          </button>
        </div>
        <label class="register-here"
          >Nemas nalog? Registruj se
          <label (click)="redirectToRegister()" class="on-hover here">ovde</label></label
        >
      </div>
    </form>
  </div>
</div>
